<%- include('header'); -%>

<div class="box <%= colorTheme %>" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">

  <% for (var i=0; i < newListItems.length; i++ ) { %>
  <div class="item">
    <label>
      <input type="checkbox">
      <p>
        <%= newListItems[i] %>
      </p>
    </label>

  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off" autofocus onfocus="this.select()">
    <button type="submit" name="list" value="<%= listTitle %>" class="button">+</button>
  </form>

</div>

<%- include('footer'); -%>
